# OS metadata
.DS_Store
Thumbs.db
*.pem

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn
.yarn/install-state.gz

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors
.idea
*.iml

# Build files
dist
lib

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo
